@CHARSET "UTF-8";

body {
	background-image: url('../../resources/images/grass.jpg'); 
	background-repeat: repeat;
}

.label {
	font-family: sans-serif;
	color: #4EB305;
}

.label.big {
	font-weight: bold;
	font-size: 30px;
}

.label.medium {
	font-size: 18px;
}

.label.small {
	font-weight: bold;
	font-size: 12px;
}